extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/product-layout.pug

block main
    //- - if (messages.success)
    //-     .messages.info
    //-         span = messages.success
    .container.my-3
        .row 
            .col-12 
                +box-head('Danh Sach San Pham')  

        +product-grid(products)

            