extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/product-layout.pug

block main
    //- h1 Trang Chu
    .container.my-3
        .row 
            .col-12 
                +box-head('Sản phẩm nỗi bật')  
            
        +product-grid(newProducts)

        